<section class="fdb-block">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <div class="col mt-4">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name"  %>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "last Name"%>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "Address"%>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row">
        <div class="col mt-4">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        </div>
      </div>


      <div class="row">
        <div class="col mt-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
       
      <div class="row">
        <div class="col mt-4">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div> 

      <div class="row mt-4">
        <div class="col">
          <%= f.submit "Update", class: "btn" %>
        </div>
      </div>
      <% end %>
      <div class="row mt-4">
        <div class="col">
          <h3>Cancel my account</h3>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %></p>
          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</section>