<section class="fdb-block" style="background-image: url(/assets/alt_wide_1.svg)">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 text-left">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="fdb-box">
              <div class="row">
                <div class="col">
                  <h1>Log In</h1>
                </div>
              </div>
              <div class="row">
                <div class="col mt-4">
                    <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                   <%= f.submit "Log in", class: "btn" %>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                   <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </section>
