<!DOCTYPE html>
<html>
<head>
  <title>Lush Cosmetics</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= render 'devise/login_items' %>
      </li>
        <li>
        <%= render 'devise/registration_items' %>
      </li>
    </ul>
  </nav>
  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
