<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row align-items-center">
    <div class="col mt-4">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, id: :order_quantity , :class => "form-control", :placeholder => "Quantity"%>
    </div>
  </div>

  
  <div class="row align-items-center">
    <div class="col">
    <%= form.hidden_field :user_id, id: :order_user_id %>
   </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
     <%= form.hidden_field :product_id, id: :order_product_id %>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col">
      <%= form.hidden_field :total_amount, id: :order_total_amount %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button  class="btn btn-round mt-4 mb-5 mb-md-0", data-toggle="modal" data-target= "#buy_confirm"> Buy</button>
    </div>
  </div>

<% end %>
