<section class="fdb-block">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-sm-4 col-6">
        <div class="card product-card mb-5">
            <%= link_to product_path(product) do %>
            <%= image_tag product.image_url , class: "img-fluid"%>
            <% end %>
            <div class="card-body">
              <p class="text-h4"><%= product.name %></p>
              <p class="text-h4 text-primary"> $ <%= product.price %></p>

              <% review = Review.where(product_id: product.id) %>
              <% rating_array = review.pluck(:rating) %>

              <% if rating_array.any? %>
                <% average_rating = rating_array.inject{ |sum, el| sum + el }.to_f / rating_array.size %>
                <% average_rating.to_i.times do %>
                  <%= image_tag("star-on.png") %>
                <% end %>
              <% else %>
                <% 5.times do %>
                  <%= image_tag("star-off.png") %>
                <% end %>
              <% end %>
              
              <p>
                <% if current_user.admin? %>
                  <td><%= link_to 'Edit', edit_product_path(product) %></td>
                  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <% if @products.blank? %>
          <!-- <h4>There are no products , please try again later</h4> -->
        <% end %>
        <% end %>
      </div>
      <% if current_user.admin? %>
      <%= link_to 'Add new Item', new_product_path %>
      <% end %>
  </div>
</section>
