<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.image.url, class: 'img-fluid' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>


<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <% else %>

  <%= render 'order', order: @order, hide_fields:true %>
  <!--optional , hide_fields:true -->
<% end %>

<br>
<%= render 'reviews/form' %>
<br><br> |
<%= link_to 'Back', products_path %>
<br><br>
<br><br>
  <% if @reviews.any?%>
<p>
  <div class="review">
  <strong>Reviews:</strong><br><br>
    </div>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>

          
            <div class="content">
          <td><%= review.content %></td>
          <%= link_to 'x',product_review_path(@product,review),method: :delete%>
          <br><br>
          </div>
        </tr>
      <% end %>
    </tbody>
  <!-- </table> -->
<% end %>
