<!DOCTYPE html>
<html>
  <head>
    <title>CosmeticApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="">
         <%= image_tag("logo_m.jpg", :class =>"logo") %>
        </a>
           <div class="collapse navbar-collapse" id="navbarNav5">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to('Products', products_path, :class => "nav-link")  %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Offers</a>
            </li>
            <li class="nav-item">
              <%= link_to('Contact', contact_path, :class => "nav-link")  %>
            </li>
            <li class="nav-item">
               <%= form_tag(products_path, :method => "get", id: "search-form") do %>
               <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
               <% end %>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end ml-auto">


            <li class="nav-item">
              <%= render 'devise/login_items' %>
            </li>
            <li class="nav-item">
              <%= render 'devise/registration_items' %>
            </li>

            <li class="nav-item">
              <%= render 'devise/registration_items' %>
            </li>

            <li class="nav-item">
              <% if user_signed_in? %>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle user-profile" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user"></span>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to('Profile', edit_user_registration_path, :class => "nav-link dropdown-item")  %>
                    <%= link_to('Orders', orders_path, :class => "nav-link dropdown-item")  %>
                    <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "nav-link dropdown-item")  %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
  </header>
      <%= yield %>
  </body>
</html>
