<!DOCTYPE html>
<html>
  <head>
    <title>Cosmetic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg bg-dark" style="background-color: #e3f2fd;">
     <a class="navbar-brand" href="#">Navbar</a>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li>
            <%= render 'devise/login_items' %>
          </li>
            <li>
            <%= render 'devise/registration_items' %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
       </div>
    </nav>

    <div class = "container">
      <%= yield %>
    </div>
  </body>
</html>
